<section data-ng-controller="ViewCustomersController" data-ng-init="">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <div class="well well-sm">
                <table border='0' width="100%">
                    <tr>
                        <td rowspan='2' valign="top" width="33px">
                            <i class="fa fa-flag" ng-class="'flag-' + customer.class" style="font-size: 26px;" ng-hide="progress.loadingCustomer==1"></i> 
                            <i data-ng-class="{'' : progress.loadingCustomer!=1, 'fa fa-refresh fa-spin' : progress.loadingCustomer==1}"></i>
                        </td>
                        <td>{{customer.CompanyName}}</td>
                    </tr>
                    <tr style="line-height: 15px;">
                        <td><span data-ng-bind="customer.ProjectName" style="font-size: 15px; font-weight: bold;"></span></td>
                   </tr>
                </table>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row --> 
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" ng-classs="'panel-' + customer.class">        
                <div class="panel-heading">
                    <div class="panel-title">Balacne Summary: <i data-ng-class="{'' : progress.loadingCustomer!=1, 'fa fa-refresh fa-spin' : progress.loadingCustomer==1}"></i></div>
                    <div class="pull-right" style="top: 5px;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#" ng-click="$event.preventDefault(); message=''; progress.processingAction=0;" data-toggle="modal" data-target="#iCareModal1"><i class="btn btn-md fa fa-usd"></i>Create credit purchase</a></li>
                                <li><a href="#" ng-click="$event.preventDefault(); message=''; progress.processingAction=0;" data-toggle="modal" data-target="#iCareModal2"><i class="btn btn-md fa fa-clock-o"></i>Create time sheet</a></li>
                                <li><a href="#" ng-click="$event.preventDefault(); message=''; progress.processingAction=0;" data-toggle="modal" data-target="#iCareModal3"><i class="btn btn-md fa fa-list-alt"></i>Create statement</a></li>
                                <li class="divider"></li>
                                <li><a href="#" ng-click="$event.preventDefault(); message=''; progress.processingAction=0;" data-toggle="modal" data-target="#iCareModal4"><i class="btn btn-md fa fa-envelope-o"></i>Send notification</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <small>
                        <table class="table table-condensed table-striped" style="margin-bottom: 0px;" width="100%">
                             <tr>
                                <td width="35%">Hours purchased </td>
                                <td>{{customer.Balance.HoursPurchased}}</td>                                
                            </tr> 
                             <tr>
                                <td>Hours used </td>
                                <td>{{customer.Balance.HoursUsed}}</td>
                            </tr>                                                                                 
                            <tr>
                                <td>Hours remaining </td>
                                <td>{{customer.Balance.Balance}}</td>
                            </tr>
                        </table>
                    </small>                    
                </div>
            </div>
        </div>
         <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->    

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Progress Chart: <i data-ng-class="{'' : progress.retrievingBalanceFY!=1, 'fa fa-refresh fa-spin' : progress.retrievingBalanceFY==1}"></i></div>
                    <div class="pull-right" style="top: 5px;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Progress <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li ng-repeat="yr in yearrange"><a href="#" ng-click="$event.preventDefault(); drawProgressChart(yr);"></i>{{yr}} progress</a></li>
                            </ul>
                        </div>
                    </div>                  
                </div>
                <div class="panel-body">
                    <div id="progress-chart"></div>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>  
    <!-- /.row -->
    
    <div class="row" ng-show="customer.CompanyName">
        <div class="col-lg-12">
            <div class="panel panel-default" ng-classs="'panel-' + customer.class">
                <div class="panel-heading">
                    <div class="panel-title">Detail: <i data-ng-class="{'' : progress.retrievingData!=1, 'fa fa-refresh fa-spin' : progress.retrievingData==1}"></i></div>
                    <div class="pull-right" style="top: 5px;">
                        <div class="btn-group small-action-button">
                            <button type="button" class="btn btn-default btn-xs" ng-click="getCreditPurchases('');"> <span class="fa fa-usd"> </span></button>
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li ng-repeat="yr in yearrange"><a href="#" ng-click="$event.preventDefault(); getCreditPurchases(yr);"></i>{{yr}} credit purchases</a></li>
                            </ul>
                        </div>
                        <div class="btn-group small-action-button">
                            <button type="button" class="btn btn-default btn-xs" ng-click="getWorkCompleted('');"> <span class="fa fa-wrench"> </span></button> 
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                </span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li ng-repeat="yr in yearrange"><a href="#" ng-click="$event.preventDefault(); getWorkCompleted(yr);"></i>{{yr}} work completed</a></li>
                            </ul>
                        </div>
                        <div class="btn-group small-action-button">
                            <button type="button" class="btn btn-default btn-xs" ng-click="getTimeSheets('');"> <span class="fa fa-clock-o"> </span></button>
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                </span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li ng-repeat="yr in yearrange"><a href="#" ng-click="$event.preventDefault(); getTimeSheets(yr);"></i>{{yr}} time sheets</a></li>
                            </ul>
                        </div>
                        <div class="btn-group small-action-button">
                            <button type="button" class="btn btn-default btn-xs" ng-click="getStatements('');"> <span class="fa fa-list-alt"> </span></button>
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                </span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-left pull-right" role="menu">
                                <li ng-repeat="yr in yearrange"><a href="#" ng-click="$event.preventDefault(); getStatements(yr);"></i>{{yr}} statements</a></li>
                            </ul>                                                                                     
                        </div>
                    </div>               
                </div>
                <div class="panel-body">
                <small>
                    <strong>{{progress.message}}</strong>               
                    <!--<table width='100%'>
                        <tr>
                            <td>
                                <strong>Select year:</strong>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <strong>Select type:</strong>
                            </td>
                        </tr>                
                        <tr>
                            <td width="90px">
                                <select class="form-control" ng-model="selectyear" style="width: 85px;">
                                    <option ng-repeat="yr in yearrange" value='{{yr}}'>{{yr}}</option>
                                </select> 
                            </td>
                            <td>
                            </td>
                            <td>
                                <div class="btn-groupp">
                                    <button type="button" class="btn btn-md fa fa-usd"
                                        data-toggle="tooltip" data-placement="top" 
                                        title="{{selectyear == 'All'? 'View all credit purchases' : 'View credit purchases for ' + selectyear}}" 
                                        data-ng-click="getCreditPurchases();"><span class=""></span>
                                    </button>
                                    <button type="button" class="btn btn-md fa fa-wrench"
                                        data-toggle="tooltip" data-placement="top" 
                                        title="{{selectyear == 'All'? 'View all work completed' : 'View work completed for ' + selectyear}}"  
                                        data-ng-click="getWorkCompleted()">
                                        <span class=""></span>
                                    </button>
                                    <button type="button" class="btn btn-md fa fa-clock-o"
                                        data-toggle="tooltip" data-placement="top" 
                                        title="{{selectyear == 'All'? 'View all time sheets' : 'View time sheets for ' + selectyear}}" 
                                        data-ng-click="getTimeSheets()">
                                        <span class=""></span>
                                    </button>
                                    <button type="button" class="btn btn-md fa fa-list-alt"
                                        data-toggle="tooltip" data-placement="top" 
                                        title="{{selectyear == 'All'? 'View all statements' : 'View statements for ' + selectyear}}" 
                                        data-ng-click="getStatements()">
                                        <span class=""></span>
                                    </button>
                                </div>
                            </td>                                
                       </tr>                           
                    </table>-->
                    <br />
                    <!--data tables start -->
                    <div class="dataTable_wrapper">             
                        <div id="cpspan" this-table options="cp_options" ng-show="datatable=='Credit Purchases'"></div>
                        
                        <div id="wcspan" this-table options="wc_options" ng-show="datatable=='Work Completed'"></div>
                                            
                        <div id="tsspan" this-table options="ts_options" ng-show="datatable=='Time Sheets'"></div>
                        
                        <div id="stspan" this-table options="st_options" ng-show="datatable=='Statements'"></div>
                    </div>
                    <!--data tables end -->                   
                </small>
                </div>                
            </div>     
        </div>
        <!-- /.col-lg-12 -->
    </div>  
    <!-- /.row --> 
           
    <small>
    <form data-ng-submit="createCreditPurchase()">
    <div class="modal fade" id="iCareModal1" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-ng-show="progress.processingAction==-1 || progress.processingAction==0 || progress.processingAction==2"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title"><i class="btn btn-md fa fa-usd"></i>New Credit Purchase</div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="cp_date">Purchase Date</label>
                        <div class="controls">
                            <input type="date" name="cp_date" id="cp_date" class="form-control" required data-ng-model="cp.date">    
                        </div>  
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label" for="cp_creditvalue">No. of Hours</label>
                        <div class="controls">
                            <input type="number" name="cp_creditvalue" id="cp_creditvalue" class="form-control" required data-ng-model="cp.creditvalue"
                            popover="Number of hours purchased."  
                            popover-trigger="focus">
                        </div>
                    </div>
                                    
                    <div class="form-group">
                        <label class="control-label" for="cp_creditprice">Price</label>
                        <div class="controls">
                            <input type="number" name="cp_creditprice" id="cp_creditprice" class="form-control" required data-ng-model="cp.creditprice"
                            popover="Price."  
                            popover-trigger="focus">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label" for="cp_effectivehourlyrate">Effective Hourly Rate (ex GST)</label>
                        <div class="controls">
                            <input type="number" name="cp_effectivehourlyrate" id="cp_effectivehourlyrate" class="form-control" required data-ng-model="cp.effectivehourlyrate"
                            popover="Effective hourly rate."  
                            popover-trigger="focus">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label" for="cp_creditinvoicenumber">Invoice No.</label>
                        <div class="controls">
                            <input type="number" name="cp_creditinvoicenumber" id="cp_creditinvoicenumber" class="form-control" required data-ng-model="cp.creditinvoicenumber"
                            popover="Invoice number."  
                            popover-trigger="focus">    
                        </div>  
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label" for="cp_comment">Comment</label>
                        <div class="controls">
                            <textarea name="cp_comment" id="cp_comment" class="form-control" data-ng-model="cp.comment"
                            popover="Comments."  
                            popover-trigger="focus"></textarea>       
                        </div>  
                    </div>
                    <div data-ng-show="message!=''" class="text-danger">
    					<strong data-ng-bind="message"></strong>
    				</div>               
                </div>
                <div class="modal-footer">
                    <div class="form-group-bla">
                        <button type="submit" class="btn btn-default" data-ng-show="progress.processingAction==0"> Create Credit Purchase</button>
                        <button type="button" class="btn btn-warning" data-ng-show="progress.processingAction==1">
                            <span class="fa fa-refresh fa-spin"></span> processing credit purchase...
                        </button>
                        <button type="button" class="btn btn-default" data-ng-show="progress.processingAction==2 || progress.processingAction==-1" data-dismiss="modal"> Close</button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <!-- /iCareModel1 -->
    
    <form data-ng-submit="createTimeSheet()">
    <div class="modal fade" id="iCareModal2" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-ng-show="progress.processingAction==-1 || progress.processingAction==0 || progress.processingAction==2"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title"><i class="btn btn-md fa fa-clock-o"></i>New Time Sheet</div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="ts_date">Date From</label>
                        <div class="controls">
                            <input type="date" name="ts_date" id="ts_date" class="form-control" required data-ng-model="ts.date">    
                        </div>  
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label" for="ts_dateto">Date To</label>
                        <div class="controls">
                            <input type="date" name="ts_dateto" id="ts_dateto" class="form-control" required data-ng-model="ts.dateto">  
                        </div>
                    </div>
                                    
                    <div class="form-group">
                        <label class="control-label" for="ts_submitors">Submitted By</label>
                        <div class="controls">
                            <input type="text" name="ts_submitors" id="ts_submitors" class="form-control" disabled data-ng-model="ts.submitors"
                            popover="Time records submitted by."  
                            popover-trigger="focus">
                        </div>
                    </div>                
    
                    <div data-ng-show="message!=''" class="text-danger">
    					<strong data-ng-bind="message"></strong>
    				</div>               
                </div>
                <div class="modal-footer">
                    <div class="form-group-bla">
                        <button type="submit" class="btn btn-default" data-ng-show="progress.processingAction==0"> Create Time Sheet</button>
                        <button type="button" class="btn btn-warning" data-ng-show="progress.processingAction==1">
                            <span class="fa fa-refresh fa-spin"></span> processing time sheet...
                        </button>
                        <button type="button" class="btn btn-default" data-ng-show="progress.processingAction==2 || progress.processingAction==-1" data-dismiss="modal"> Close</button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <!-- /iCareModel2 -->
    
    <form data-ng-submit="createStatement()">
    <div class="modal fade" id="iCareModal3" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-ng-show="progress.processingAction==-1 || progress.processingAction==0 || progress.processingAction==2"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title"><i class="btn btn-md fa fa-list-alt"></i>New Statement</div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="st_date">Date From</label>
                        <div class="controls">
                            <input type="date" name="st_date" id="st_date" class="form-control" required data-ng-model="st.date">    
                        </div>  
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label" for="st_dateto">Date To</label>
                        <div class="controls">
                            <input type="date" name="st_dateto" id="st_dateto" class="form-control" required data-ng-model="st.dateto">  
                        </div>
                    </div>
                                    
                    <div class="form-group">
                        <label class="control-label" for="st_submitors">Submitted By</label>
                        <div class="controls">
                            <input type="text" name="st_submitors" id="st_submitors" class="form-control" disabled data-ng-model="st.submitors"
                            popover="Time records submitted by."  
                            popover-trigger="focus">
                        </div>
                    </div>                
    
                    <div data-ng-show="message!=''" class="text-danger">
    					<strong data-ng-bind="message"></strong>
    				</div>               
                </div>
                <div class="modal-footer">
                    <div class="form-group-bla">
                        <button type="submit" class="btn btn-default" data-ng-show="progress.processingAction==0"> Create Statement</button>
                        <button type="button" class="btn btn-warning" data-ng-show="progress.processingAction==1">
                            <span class="fa fa-refresh fa-spin"></span> processing statement...
                        </button>
                        <button type="button" class="btn btn-default" data-ng-show="progress.processingAction==2 || progress.processingAction==-1" data-dismiss="modal"> Close</button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <!-- /iCareModel3 -->

    <form data-ng-submit="sendNotification()">
    <div class="modal fade" id="iCareModal4" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" data-ng-show="progress.processingAction==-1 || progress.processingAction==0 || progress.processingAction==2"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title"><i class="btn btn-md fa fa-envelope-o"></i>Notification</div>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label" for="sn_sendto">Send To</label>
                        <div class="controls">
                            <input type="text" name="sn_sendto" id="sn_sendto" class="form-control" required disabled data-ng-model="sn.sendto" />
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="control-label" for="sn_ccto">Copy To</label>
                        <div class="controls">
                            <input type="text" name="sn_ccto" id="sn_ccto" class="form-control" data-ng-model="sn.ccto" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="sn_type">Type</label>
                        <div class="controls">                            
                            <select name="sn_type" id="sn_type" class="form-control" required data-ng-model="sn.type">
                                <option value='1'>Type 1</option>
                                <option value='2'>Type 2</option>
                                <option value='3'>Type 3</option>
                                <option value='0'>Other</option>
                            </select>                                
                        </div>  
                    </div>                    
                    <div class="form-group" data-ng-show="sn_type=='0'">
                        <label class="control-label" for="sn_subject">Subject</label>
                        <div class="controls">
                            <input type="text" name="sn_type" id="sn_type" class="form-control" data-ng-required="sn_type=='0'" data-ng-model="sn.subject" />
                        </div>
                    </div>                                                          
                    <div class="form-group">
                        <label class="control-label" for="sn_message">Message</label>
                        <div class="controls">
                            <textarea name='sn_message' id="sn_message" class="form-control" rows="5" required data-ng-model="sn.message"></textarea>
                        </div>
                    </div>                
    
                    <div data-ng-show="message!=''" class="text-danger">
    					<strong data-ng-bind="message"></strong>
    				</div>               
                </div>
                <div class="modal-footer">
                    <div class="form-group-bla">
                        <button type="submit" class="btn btn-default" data-ng-show="progress.processingAction==0"> Send Notification</button>
                        <button type="button" class="btn btn-warning" data-ng-show="progress.processingAction==1">
                            <span class="fa fa-refresh fa-spin"></span> Sending noification...
                        </button>
                        <button type="button" class="btn btn-default" data-ng-show="progress.processingAction==2 || progress.processingAction==-1" data-dismiss="modal"> Close</button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <!-- /iCareModel4 -->

    <div class="modal fade" id="iCareModal5" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title">Credit Purchase(s)</div>
                </div>
                <div class="modal-body">
                    <table width="100%">
                        <thead>
                            <tr><th>Purchase Date</th><th>Purchased Amount</th><th>Invoice #</th></tr>
    					</thead>
                        <tbody>
                            <tr ng-repeat="d in records"><td>{{d.Month}}</td><td>{{d.PurchasedAmount}}</td><td>{{d.Invoice}}</td></tr>
                        </tbody>
                    </table>       
                </div>
                <div class="modal-footer">
                    <div class="form-group-bla">
                        <button type="button" class="btn btn-default"data-dismiss="modal"> Close</button>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /iCareModel5 -->    
    </small>
            
</section>